form {
    padding: 3%;
    border-radius: 2%;
    padding-top: 0%;
    border: 1px solid black;
}

.cursive {
    font-family: 'Cedarville Cursive', cursive;
    font-weight: bolder;
    font-size: 1.2em;
}

.row {
    margin-top: 3%;
}

.input-group {
    margin: 1%;
}

.text-danger {
    font-size: 0.8em;
}

#logo {
    font-size: 4em;
    font-family: 'Engagement', cursive;
}

#follow-links {
    padding-top: 5%;
}

#follow-links > div > a {
    padding-left: 1%;
    padding-right: 1%;
    color: black;
    font-size: 2.5em;
}