ul {
    padding-left: 5%;
    padding-right: 5%;
    /* border-bottom: 1px solid black; */
}

main {
    padding-top: 2%;
}

form {
    padding: 3%;
    border-radius: 2%;
    border: 1px solid black;
}

.nav-item {
    cursor: pointer;
}

.active {
    height: 4em;
    background-color: black;
    color: whitesmoke;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    font-weight: bolder;
}

.input-group {
    margin: 1%;
}

.cursive {
    font-family: 'Cedarville Cursive', cursive;
    font-weight: bolder;
    font-size: 2.5em;
}

.text-danger {
    font-size: 0.8em;
}

.card {
    margin-bottom: 2%;
}

#logo {
    font-size: 2.2em;
    font-family: 'Engagement', cursive;
    padding-right: 3%;
}