<ul class="nav">
    <li id="logo">
        <span>bitsy</span>
    </li>
    <li class="nav-item" (click)="toggleDisplay()">
        <span class="nav-link toggle-link active">View</span>
    </li>
    <li class="nav-item" (click)="toggleDisplay()">
        <span class="nav-link toggle-link">New</span>
    </li>
    <li class="nav-item" (click)="logout()">
        <span id="logout" class="nav-link">Logout</span>
    </li>
</ul>
<main>
    <div class="toggle-display row">
        <div class="col-md-2 col-lg-3"></div>
        <div class="col-md-8 col-lg-6">
            <div class="card" *ngFor="let url of urlList; let ind=index">
                <h5 class="card-header"><em class="fa fa-link"></em> {{url.shortUri}}</h5>
                <div class="card-body">
                    <h5 class="card-title"><em class="fa fa-angle-right"></em> &nbsp; <em>{{url.originalUri}}</em></h5>
                    <p class="card-text"><em class="fa fa-calendar-alt"></em>&nbsp; <em>{{url.createdAt.substr(0, 10)}}</em></p>
                    <button class="btn btn-secondary" id="del-{{ind}}" (click)="delete($event)">Delete</button>
                    <button class="btn btn-info btn-mar" id="index-{{ind}}" (click)="confirmDelete($event)" hidden>Confirm Delete</button>
                    <button class="btn btn-primary btn-mar" id="can-{{ind}}" (click)="cancelDelete($event)" hidden>Cancel</button>
                </div>
            </div>
            <div *ngIf="urlList"></div>
            <div *ngIf="loadError">Error Occured while loading ...</div>
        </div>
        <div class="col-md-2 col-lg-3"></div>
    </div>
    <div class="toggle-display row d-none">
        <div class="col-sm-2 col-md-3 col-lg-4"></div>
        <div class="col-sm-8 col-md-6 col-lg-4">
            <form [formGroup]="registerationForm" (ngSubmit)="onsubmit()">
                <div class="text-center cursive">
                    Register URL
                </div>
                <div class="form-row">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><em class="fa fa-link"></em></div>
                        </div>
                        <input type="text" name="username" id="username" class="form-control" formControlName="newurl" placeholder="Enter URL Here">
                    </div>
                    <p id="error" class="text-danger" hidden>
                        URL is missing
                    </p>
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <p id="new-reg-message" class="text-danger"></p>
                </div>
            </form>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-4"></div>
    </div>
</main>